$color-background_screen: #c3cfe2;

$border-width: 5px;
$border-picture: $border-width solid rgb(111, 102, 93);

$border-radius_image: 30px;

$grid-gaps: 30px;
$height-button: 30px;

$duration-delay: 250ms;
$duration-change: 500ms;
$filter-brightness: 25%;

$input-top: -50%;
