@import "./constants";

body {
  background-color: $color-background_screen;
}

.container {
  margin: 30px;
  display: grid;
  grid-row-gap: $grid-gaps - $height-button;
  grid-column-gap: $grid-gaps;
  grid-template-columns: 1fr;
  div {
    img {
      width: 100%;
      height: auto;
      border: $border-picture;
      border-radius: $border-radius_image;

      transition-duration: $duration-change;
      transition-delay: $duration-delay;
    }
  }
  input {
    visibility: hidden;
    position: relative;
    top: $input-top;
    left: $input-left;
  }
}

.container > div > img:hover {
  filter: brightness(25%);
  ~ input {
    visibility: visible;
  }
}
