// variables
$font-family: sans-serif;
$font-weight: 500;

$fontsize-text: 4.5vw;
$fontsize-website_text: 3vw;

$line-height: 1.6em;

$color-page_background: #c3cfe2;
$color-footer_background: #686de0;
$color-white: #fff;
$color-text: rgb(110, 100, 100);
$color-website_text: $color-page_background;

$settings-box_shadow: 0px 10px 10px 2px grey;

$size-figure: 21vw;
$aspect-ratio: 4/5; //ratio width / height field
