//figure settings

.picture-field {
  display: flex;
  justify-content: center;
  position: relative;
  top: -315%;

  .profile-picture {
    background-color: $color-white;
    display: inline-block;
    position: relative;
    width: $size-figure; //234
    height: $size-figure; //300
    overflow: hidden;
    border-radius: 50%;
    border: 2vw solid #fff;
    //   border: 2vw solid green;
    img {
      position: relative;
      width: 100%;
      height: auto;
      margin-top: -3vw;
    }
  }
}
