$duration-change: 1000ms;

$length-sliding: -240px;
$width-box: 280px; //280px;
$height-box: 40px;
$color-background: #c3cfe2;

$color-text: #fff;
$font-family: "Courier New", Courier, monospace;
$font-weight: normal;
$size-font: 16px;
$size-padding: 12px;
